[submodule "3rdparty/libsamplerate"]
	path = 3rdparty/libsamplerate
	url = https://github.com/libsndfile/libsamplerate
[submodule "3rdparty/nanovg"]
	path = 3rdparty/nanovg
	url = https://github.com/memononen/nanovg
[submodule "3rdparty/Adafruit-GFX-offscreen"]
	path = 3rdparty/Adafruit-GFX-offscreen
	url = https://github.com/ferluht/Adafruit-GFX-offscreen
